---
import { getCollection } from 'astro:content'

import Layout from '../layouts/base.astro'
import Breadcrumb from '../components/breadcrumb.astro'
import SubHero from '../components/subhero.astro'
import CategoryList from '../components/categorylist.astro'

import PageImage from '../assets/images/partnersbycategory.jpg'

const frontmatter = {
  title: 'Categories',
  description: 'Partners by Category.',
  image: PageImage,
  icon: 'mdi:category'
}

const categories = await getCollection('categories', (category) => !category.data.draft)
---

<Layout frontmatter={frontmatter}>
  <main class="h-auto p-4 pt-20 md:ml-64">
    <Breadcrumb links={[{ title: 'Categories', link: '/categories' }]} />
    <SubHero frontmatter={frontmatter} />
    <CategoryList categories={categories} />
  </main>
</Layout>
