---
import Layout from '../layouts/base.astro'
import Breadcrumb from '../components/breadcrumb.astro'

const frontmatter = {
  title: 'Contact Us',
  description: 'Want to leave us some feedback? Let us know.'
}
---

<Layout frontmatter={frontmatter}>
  <main class="h-auto p-4 pt-20 md:ml-64">
    <Breadcrumb />
    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-(--breakpoint-md) px-4 py-8 lg:py-16">
        <h2
          class="mb-4 text-center text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          {frontmatter.title}
        </h2>
        <p class="mb-8 text-center font-light text-gray-500 dark:text-gray-400 sm:text-xl lg:mb-16">
          {frontmatter.description}
        </p>
        <form
          name="contact"
          method="POST"
          data-netlify="true"
          netlify-honeypot="bot-field"
          class="space-y-8"
        >
          <div class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </div>
          <div>
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300">
              Your email
              <input
                type="email"
                name="email"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-xs focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:shadow-sm-light dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="yourname@email.url"
                required
              />
            </label>
          </div>
          <div>
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300">
              Subject
              <input
                type="text"
                name="subject"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-xs focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:shadow-sm-light dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Let us know how we can help you"
                required
              />
            </label>
          </div>
          <div class="sm:col-span-2">
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-400">
              Your message
              <textarea
                name="message"
                rows="6"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-xs focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Leave a comment..."></textarea>
            </label>
          </div>
          <button
            type="submit"
            class="rounded-lg bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-hidden focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-fit"
            >Send message</button
          >
        </form>
      </div>
    </section>
  </main>
</Layout>
