---
import Layout from '../layouts/base.astro'
import Breadcrumb from '../components/breadcrumb.astro'
import Hero from '../components/hero.astro'
import Regions from '../components/regions.astro'
import Feature from '../components/feature.astro'
import CTA from '../components/cta.astro'
import Site from '../site.ts'

const frontmatter = {
  title: Site.title,
  description: Site.description
}
---

<script slot="in-head" is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<Layout frontmatter={frontmatter}>
  <main class="h-auto p-4 pt-20 md:ml-64">
    <Breadcrumb />
    <Hero />
    <Regions />
    <Feature />
    <CTA />
  </main>
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on('init', (user) => {
        if (!user) {
          window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/'
          })
        }
      })
    }
  </script>
</Layout>
