---
import type { CollectionEntry } from 'astro:content'
// import { getCollection } from 'astro:content'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import { DefaultImage } from '../config'
import { Image } from 'astro:assets'
import MyHero from '../components/myhero.astro'
// import Hero from '../components/hero.astro'
// import Features from '../components/features.astro'
// import FindOutMore from '../components/findoutmore.astro'
// import LatestArticles from '../components/latestarticles.astro'
// import Partners from '../components/partners.astro'
import Explore from '../components/explore.astro'
import CTA from '../components/cta.astro'

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  image: DefaultImage
}

// const partners = await getCollection('partner', ({ data }) => {
//   return data.draft !== true
// })
---

<script slot='in-head' is:inline src='https://identity.netlify.com/v1/netlify-identity-widget.js'></script>
<Base frontmatter={frontmatter}>
  <Image class='w-full' src={DefaultImage} alt='banner' />
  <MyHero />
  <Explore />
  <!-- <Partners {partners} /> -->
  <!-- <Hero />
  <Features />
  <FindOutMore /> -->
  <!-- <LatestArticles posts={latestPosts} /> -->
  <CTA />
  <div class='bg-white p-24 dark:bg-black md:p-12'></div>
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on('init', (user) => {
        if (!user) {
          window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/'
          })
        }
      })
    }
  </script>
</Base>
