---

---

<div class='bg-gray-50 dark:bg-black'>
  <div
    class='mx-auto max-w-7xl px-4 py-12 text-xl text-gray-600 font-normal lg:items-center lg:justify-between lg:px-8 lg:py-16 sm:px-6 dark:text-gray-300'
  >
    <h2 class='text-3xl text-gray-900 font-extrabold tracking-tight sm:text-4xl dark:text-gray-100'>
      <span class='block dark:text-white'>Join Our Facebook Groups for Exclusive Benefits!</span>
    </h2>
    <div class='prose-xl prose'>
      <p>
        We’re excited to build a thriving community where members can enjoy exclusive benefits and
        connect with like-minded individuals. By joining our Facebook groups, you help us grow and
        enhance our offerings.
      </p>
      <h3>Why Join?</h3>
      <ul>
        <li>
          <b>Collaborations:</b>Higher member numbers allow us to partner with more businesses for
          exclusive deals and perks.
        </li>
        <li><b>Community:</b>Connect with others who share your interests and passions.</li>
        <li><b>Benefits:</b>Gain access to special offers, events, and insider tips.</li>
      </ul>
      <p>
        Your participation is crucial in helping us provide the best possible experience. Together,
        we can create a vibrant, supportive network.
      </p>
      <p>Thank you for being a part of our community!</p>
    </div>
    <div class='mt-8 flex lg:mt-0 lg:flex-shrink-0'>
      <div class='inline-flex rounded-md shadow'>
        <a
          href='https://linktr.ee/hillsmakangroup'
          class='inline-flex items-center justify-center border border-transparent rounded-md bg-blue-600 px-5 py-3 text-base text-white font-medium hover:bg-pink-600'
        >
          Join
        </a>
      </div>
    </div>
  </div>
</div>
