---
import { Image } from 'astro:assets'

import CTAImage from '../assets/images/HMGmembercard01(INTERNATIONAL).jpg'
import Site from '../site'
---

<section
  class="mx-auto max-w-screen-xl items-center rounded-lg bg-white px-4 py-8 dark:bg-gray-800 sm:py-16 lg:px-6"
>
  <h2 class="mb-4 text-center text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
    Join Our Facebook Groups for Exclusive Benefits!
  </h2>
  <div class="gap-8 xl:grid xl:grid-cols-2 xl:gap-16">
    <div>
      <p
        class="mb-2 max-w-2xl italic text-gray-600 dark:text-gray-400 md:text-sm lg:mb-8 lg:text-base"
      >
        If you are already a member, you can download our member card by clicking the image below.
      </p>
      <a href={CTAImage.src} download>
        <Image src={CTAImage} alt="Member Card" />
      </a>
    </div>
    <div class="mt-4 md:mt-0">
      <div class="format format-sm format-blue mb-4 dark:format-invert">
        <p>
          We’re excited to build a thriving community where members can enjoy exclusive benefits and
          connect with like-minded individuals. By joining our Facebook groups, you help us grow and
          enhance our offerings.
        </p>
        <h3>Why Join?</h3>
        <ul>
          <li>
            <b>Collaborations:</b>Higher member numbers allow us to partner with more businesses for
            exclusive deals and perks.
          </li>
          <li><b>Community:</b>Connect with others who share your interests and passions.</li>
          <li><b>Benefits:</b>Gain access to special offers, events, and insider tips.</li>
        </ul>
        <p>
          Your participation is crucial in helping us provide the best possible experience.
          Together, we can create a vibrant, supportive network.
        </p>
        <p>Thank you for being a part of our community!</p>
      </div>
      <a
        href={Site.link}
        class="inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        Join
        <svg
          class="-mr-1 ml-2 size-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
  </div>
</section>
