---
import { Image } from 'astro:assets'

import CountryImage from '../assets/images/partnersbycountry.jpg'
import CategoryImage from '../assets/images/partnersbycategory.jpg'
import CuisineImage from '../assets/images/cuisines.jpg'
import CollaborationImage from '../assets/images/meetourpartners.jpg'

const features = [
  {
    title: 'Partners by Country',
    link: '/countries',
    image: CountryImage
  },
  {
    title: 'Partners by Category',
    link: '/categories',
    image: CategoryImage
  },
  {
    title: 'Partners by Cuisine',
    link: '/cuisines',
    image: CuisineImage
  },
  {
    title: 'Collaborations',
    link: '/collaborations',
    image: CollaborationImage
  }
]
---

<section>
  <div class="mx-auto max-w-(--breakpoint-xl) px-4 py-8">
    <div class="mb-8 max-w-(--breakpoint-md)">
      <h2 class="
        mb-4 text-3xl font-extrabold tracking-tight text-gray-900
        lg:text-4xl
        dark:text-white
      ">
        Explore our Partners
      </h2>
      <p class="
        text-gray-500
        sm:text-xl
        dark:text-gray-400
      ">
        View Partners in various locations and categories
      </p>
    </div>
    <div class="
      space-y-8
      md:grid md:grid-cols-2 md:gap-12 md:space-y-0
      lg:grid-cols-3
      xl:grid-cols-4
    ">
      {
        features.map((feature) => (
          <a
            class="
              group overflow-hidden rounded-lg border border-gray-200 shadow-sm
              transition-all duration-300
              hover:shadow-lg
              motion-safe:hover:-translate-y-1
              dark:border-gray-700
            "
            href={feature.link}
          >
            <div class="overflow-hidden rounded-t-lg">
              <Image
                class="
                  h-64 w-full object-cover transition-transform duration-300
                  motion-safe:group-hover:scale-105
                  md:h-48
                "
                src={feature.image}
                alt={feature.title}
              />
            </div>
            <h3 class="
              mb-2 text-center text-xl font-bold
              dark:text-white
            ">{feature.title}</h3>
          </a>
        ))
      }
    </div>
  </div>
</section>
