---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

export interface Props {
  frontmatter: CollectionEntry<'pages'>['data']
}

const { frontmatter } = Astro.props
---

<header class="not-format my-4 lg:my-6">
  <h1
    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:mb-6 lg:text-4xl"
  >
    {frontmatter.title}
  </h1>
</header>
<p class="lead">
  {frontmatter.description}
</p>
<figure>
  <Image src={frontmatter.image!} alt={frontmatter.title} />
  <!-- <figcaption>{frontmatter.title}</figcaption> -->
</figure>
