---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  partners: CollectionEntry<'partner'>[]
}

const { partners } = Astro.props
---

<main class='bg-white'>
  <div class='mx-auto max-w-2xl px-4 py-4 lg:max-w-7xl sm:px-6'>
    <div class='grid grid-cols-1 mt-6 gap-x-6 gap-y-10 lg:grid-cols-4 sm:grid-cols-2 xl:gap-x-8'>
      {
        partners.map((partner) => (
          <div class='group relative'>
            <div class='aspect-3/2 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75'>
              <img
                src={partner.data.image!.src}
                alt={partner.data.title}
                class='w-full object-cover object-center'
              />
            </div>
            <div class='mt-4 flex justify-between'>
              <div>
                <h3 class='text-xl text-gray-700'>
                  <a href={'/partner/' + partner.slug}>
                    <span aria-hidden='true' class='absolute inset-0' />
                    {partner.data.title}
                  </a>
                </h3>
                <p class='mt-1 text-sm text-gray-500'>
                  {partner.data.cuisine && partner.data.cuisine.join(', ')}
                </p>
              </div>
              <p class='text-xl text-gray-700 font-medium'>{partner.data.discount_pct}%</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</main>
