---
import type { CollectionEntry } from 'astro:content'
import { getEntry, getEntries } from 'astro:content'
import RegBadge from './regbadge.astro'
import CatBadge from './catbadge.astro'
export interface Props {
  frontmatter: CollectionEntry<'partner'>['data']
}

const { frontmatter } = Astro.props
const categories = await getEntries(frontmatter.categories)
const region = await getEntry(frontmatter.region)
---

<header class="not-format mx-auto my-2 ml-8">
  <h1 class="text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:text-4xl">
    {frontmatter.title}
  </h1>
  <div>
    <RegBadge region={region} />
    <CatBadge categories={categories} />
  </div>
  <p class="text-base font-medium italic text-gray-700 dark:text-gray-200">
    {frontmatter.description}
  </p>
</header>
