---
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/base.astro'
import BlogHero from '../components/bloghero.astro'
import NextPrev from '../components/nextprev.astro'

export interface Props {
  post: CollectionEntry<'blog'>
  prev?: CollectionEntry<'blog'>
  next?: CollectionEntry<'blog'>
}

const { post, prev, next } = Astro.props
---

<Base frontmatter={post.data}>
  <main class='dark:bg-black'>
    <article class='post'>
      <header>
        <BlogHero {post} />
      </header>
      <section
        class='lg:prose-xl mx-auto my-8 max-w-screen-lg px-4 prose prose-purple lg:px-0 dark:prose-invert'
      >
        <slot />
      </section>
    </article>
  </main>
  <NextPrev
    slot='before-footer'
    base={import.meta.env.BASE_URL + 'blog/'}
    prev={prev}
    next={next}
  />
</Base>
