---
import Base from './base.astro'
import Breadcrumb from '../components/breadcrumb.astro'
import PageHero from '../components/pagehero.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  frontmatter: CollectionEntry<'pages'>['data']
  breadcrumbs?: { title: string; link: string }[]
}

const { frontmatter, breadcrumbs } = Astro.props
---

<Base {frontmatter}>
  <main
    data-pagefind-body
    class="bg-white pt-20 pb-16 antialiased md:ml-64 lg:pb-24 dark:bg-gray-900"
  >
    <div class="mx-auto flex max-w-(--breakpoint-xl) justify-between px-4">
      {breadcrumbs && <Breadcrumb links={breadcrumbs} />}
    </div>
    <div class="mx-auto flex max-w-(--breakpoint-xl) justify-between px-4">
      <article
        class="prose prose-sm prose-blue sm:prose-base lg:prose-lg dark:prose-invert mx-auto w-full max-w-2xl"
      >
        <PageHero frontmatter={frontmatter} />
        <slot />
      </article>
    </div>
  </main>
</Base>
