---
import Base from './base.astro'
import PageHero from '../components/pagehero.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  frontmatter: CollectionEntry<'pages'>['data']
}

const { frontmatter } = Astro.props
---

<Base {frontmatter}>
  <main class="
    bg-white pt-8 pb-16 antialiased
    lg:pt-16 lg:pb-24
    dark:bg-gray-900
  ">
    <div class="mx-auto flex max-w-(--breakpoint-xl) justify-between px-4">
      <article
        class="
          mx-auto prose prose-sm w-full max-w-2xl prose-blue
          sm:prose-base
          lg:prose-lg
          dark:prose-invert
        "
      >
        <PageHero frontmatter={frontmatter} />
        <slot />
      </article>
    </div>
  </main>
</Base>
