---
import Base from './base.astro'
import PageHero from '../components/pagehero.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  frontmatter: CollectionEntry<'pages'>['data']
}

const { frontmatter } = Astro.props
---

<Base {frontmatter}>
  <main class="bg-white pb-16 pt-8 antialiased dark:bg-gray-900 lg:pb-24 lg:pt-16">
    <div class="mx-auto flex max-w-(--breakpoint-xl) justify-between px-4">
      <article
        class="format format-sm format-blue mx-auto w-full max-w-2xl dark:format-invert sm:format-base lg:format-lg"
      >
        <PageHero frontmatter={frontmatter} />
        <slot />
      </article>
    </div>
  </main>
</Base>
